# Sesi 1 - Basic Syntax, Data Type, and Variable

## Integers

In [1]:
print(132847162837 + 2)

132847162839

In [3]:
print(20)
print(type(20))

20
<class 'int'>

## Floating Points

In [4]:
print(7.7)
print(type(7.7))

7.7
<class 'float'>

## Strings

In [ ]:
print("Kezario")
print(type("Kezario"))

In [5]:
print("Stan LOONA")
print('Stan LOONA')

Stan LOONA
Stan LOONA

## Boolean

In [6]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Variable Assignment

In [7]:
n = 1000
print(n)
n

1000

1000

In [8]:
a = b = c = 288
print(a, b, c)

288 288 288

## Variable Types in Python

In [9]:
var = 88.3
print(var)

var = "Sekarang aku adalah sebuah String"
print(var)

88.3
Sekarang aku adalah sebuah String

## Variable Names

In [10]:
name = "Kezario Mohammad Anaqi"
Age = 20
has_laptop = True
print(name, Age, has_laptop)

Kezario Mohammad Anaqi 20 True

## Operators and Expressions

In [2]:
a = 10
b = 20
a + b

30

In [ ]:
a = 10
b = 20
a + b - 5

### Arithmetic Operators

In [3]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

### Comparison Operators

In [4]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

a = 30
b = 30

print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

## String Manipulation

In [8]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [9]:
s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [10]:
s = 'foo'
print(s in "That food for us")
print(s in "That good for us")

True
False

In [ ]:
s = "Kezario Mohammad Anaqi"
print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Kezario mohammad anaqi
kezario mohammad anaqi
kEZARIO mOHAMMAD aNAQI
Kezario Mohammad Anaqi
KEZARIO MOHAMMAD ANAQI

## Python Lists

In [11]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

### Lists are Ordered

In [12]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

### Lists Can Contain Arbitrary Objects

In [13]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.1415]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.1415]

### List Elements Can Be Accessed by Index

In [17]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

# Pemanggilan dengan indeks (dari 0)
print(a[0])
print(a[5])

# Pemanggilan dengan indeks listnegatif
print(a[-1])
print(a[-6])

#Pemanggilan elemen berdasarkan range indeks tertentu
a[2:5]

foo
corge
corge
foo
['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [18]:
# Penggunaan (+) dan (*) pada list
print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [19]:
# len(), min(), max()
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

### Modifying a Single List Value

In [20]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [21]:
# Item pada list dapat dihapus dengan perintah del

del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

### Modifying Multiple List Values

In [22]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

## Python Tuples

### Defining and Using Tuples

In [23]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [24]:
print(t[0])
print(t[-1])

foo
corge

In [25]:
# Packing and Unpacking
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

## Python Dictionary

### Defining a Dictionary

In [27]:
MLB_team = {
    'Colorado'  : 'Rockies',
    'Boston'    : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle'   : 'Mariners'
}

MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

### Accessing Dictionary Values

In [28]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# Error
# MLB_team['Toronto']

Twins
Rockies

In [29]:
# Menambahkan data baru ke dictionary

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [31]:
# Memperbarui data pada dictionary

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals',
 'Seattle': 'Seahawks'}

In [ ]:
# Menghapus data pada dictionary dengan menggunakan del

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

### Building a Dictionary Incrementally

In [34]:
person = {}
type(person)

person['fname']     = 'Kezario'
person['lname']     = 'M. Anaqi'
person['age']       = '20'
person['spouse']    = 'Youngeun'
person['children']  = ['Lily', 'Dawn', 'Rise']
person['pets']      = {'dog' : 'Hash', 'cat' : 'Brown'}

person

{'fname': 'Kezario',
 'lname': 'M. Anaqi',
 'age': '20',
 'spouse': 'Youngeun',
 'children': ['Lily', 'Dawn', 'Rise'],
 'pets': {'dog': 'Hash', 'cat': 'Brown'}}

In [35]:
print(person['fname'])
print(person['lname'])

Kezario
M. Anaqi

In [36]:
print(person['children'])
print(person['children'][1])

['Lily', 'Dawn', 'Rise']
Dawn

In [37]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Hash', 'cat': 'Brown'}
Brown

In [38]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c':30}

# Items
print(d.items())

#Keys
print(d.keys())

#Values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## Line Continuation

In [39]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)

someone_is_of_working_age

True

In [40]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) 
    or (person2_age >= 18 and person2_age <= 65) 
    or (person3_age >= 18 and person3_age <= 65)
)
someone_is_of_working_age

True